# Ignorar archivos de configuración de VSCode
.vscode/

# Ignorar archivos compilados
*.class
*.o
*.exe

# Ignorar entornos virtuales de Python
venv/
__pycache__/

# Ignorar archivos de dependencias
node_modules/
*.log

# Ignorar archivos de credenciales
.env
config/secrets.json

# Ignorar carpeta de Data (3GB)
LLM/dataML/input/*
LLM/dataML/output_rebuilt/*
LLM/dataML/test/*
LLM/dataML/train/*
LLM/dataML/train_patched/*
LLM/dataML/valid/*
